<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

		<title>Le module paragraphs par l'exemple, ou la rédaction de contenu sous stéroides</title>

		<link rel="stylesheet" href="css/reveal.css">
		<link rel="stylesheet" href="css/theme/black.css">
    <link rel="stylesheet" href="css/local.css">

		<!-- Theme used for syntax highlighting of code -->
		<link rel="stylesheet" href="lib/css/zenburn.css">

		<!-- Printing and PDF exports -->
		<script>
			var link = document.createElement( 'link' );
			link.rel = 'stylesheet';
			link.type = 'text/css';
			link.href = window.location.search.match( /print-pdf/gi ) ? 'css/print/pdf.css' : 'css/print/paper.css';
			document.getElementsByTagName( 'head' )[0].appendChild( link );
		</script>
	</head>
	<body>
		<div class="reveal">
			<div class="slides">

        <section id="prez" data-transition="convex">
					<h1>Paragraphs</h1>
					<p>Le module paragraphs par l'exemple,
            <br />ou la rédaction de contenu sous <b>stéroides</b></p>
				</section>

        <section id="presentation" data-transition="convex">
          <h2>Présentation</h2>
          <table>
            <tbody>
            <tr>

              <td style="width: 50%;">
                <p>Oliver Pierre / opi</p>
                <p>Freelance Drupal - <a href="https://olivierpierre.net">olivierpierre.net</a></p>
              </td>

              <td style="width: 50%;">
                <p>Fabrice Scoyer</p>
                <p>Freelance Drupal - <a href="http://flocondetoile.fr" target="_blank">www.flocondetoile.fr</a></p>
                <img class="plain" width="150px" src="images/logo_flocon.png" alt="Logo Flocon de toile">
              </td>
            </tr>
            </tbody>
          </table>

        </section>


        <section id="intro" data-transition="convex">
          <h2>Introduction</h2>
          <ul>
            <li><a href="https://www.drupal.org/project/paragraphs">drupal.org/project/paragraphs</a></li>
            <li>C'est quoi paragraphs / a quoi ca sert ?</li>
            <li>Pourquoi cette conférence ?
              <span class="fragment">ce module nous semble trop méconnu et sous utilisé</span>
            </li>
          </ul>
        </section>

        <section id="genese" data-transition="convex">
        	<h2>La génèse sur #drupal-fr</h2>
<pre>
<span style="color: grey">(13:27:41)</span> <b style="color:orange">opi></b> J'ai presque envie de proposer une conférence 
           sur le module *paragraphs*, en mode retour d'xp,
           exemple de ce qu'on peut faire de foufou avec paragraph ; 
           ca tenterai quelqu'un de la faire avec moi ? 
           (en mode a l'arrache, cela va sans dire)
<span style="color: grey">(13:30:33)</span> <b style="color:lightblue">flocondetoile></b> opi: partant
<span style="color: grey">(13:32:15)</span> <b style="color:orange">opi></b> cool
</pre>
        </section>

        <section id="avantages" data-transition="convex">
          <h2>Avantages de paragraphs</h2>
          <ul>
            <li>Réutilisation de composants</li>
            <li>Composition riche de pages complexes</li>
            <li>Atomic design !!! <img class="plain" width="150px" src="images/boom.png" alt="Boom" style="margin:0; vertical-align: middle;"></li>
            <li>Support des révisions / multilinguisme</li>
        </ul>
        </section>


        <section id="avantages" data-transition="convex">
          <h2>Conception modulaire</h2>
          <img class="plain" src="images/paragraphs_abstract.png" />
        </section>

        <section data-transition="convex">
          <h2 class="">Inconvénients</h2>
          <h1 class="fragment blue">Y en pas !</h1>
        </section>

        <section data-transition="convex">
          <h2>Ou un tout petit peu ;-)</h2>
          <ul>
            <li>Les champs d'un paragraph mixent contenus et configuration</li>
            <li>Multiplication des champs et des tables dans la bdd (penser aux configurations communes)</li>
            <li>UI/UX peut être confuse<img class="plain" width="350px" src="images/ugly.png" alt="It's UGLY" style="margin:0; vertical-align: middle;"></li>
            <li>On ne peut pas connaître à l'avance quels paragraphes sont disponibles sur un contenu (SEO, Page listing, etc.)</li>
          </ul>
        </section>

        <section data-transition="convex" data-background="images/bo.png">
          <h4 class="overlay-black">Soigner le backoffice !</h4>
        </section>

        <section data-transition="convex" data-markdown>
          ## Usages de paragraphes

          - Adieu le body fourre-tout
          - Composition d'un contenu riche
          - Composition de pages avec des agencements complexes et maîtrisés
          - Donner accès aux éditeurs à des agencements de page d'atterrissage / immersives (composition modulaire)
        </section>

        <section data-transition="convex" data-background="images/super_article_page.png">
          <h4 class="overlay-black">Article / Page immersive</h4>
        </section>

        <section data-transition="convex" data-background="images/landing.gif">
          <h4 class="overlay-black">Un exemple de page fait avec un seul type de paragraphe</h4>
        </section>

        <section data-transition="convex" data-markdown>
          ## Paragraphs vs Panel / Display Suite

          - Panel / display suite : approche Site builder. Nécessité de droits avancés pour configurer des pages
          - Paragraphs : on peut déléguer au rédacteur toute la mise en page, tout en conservant la maîtrise du rendu et du comportement responsive
        </section>

        <section data-transition="convex">
          <h2>Un grand pouvoir implique de grandes responsabilités</h2>
          <em>Maître Gims</em>
        </section>

        <section data-transition="convex" data-background="images/exemple_section.png">
          <h4 class="overlay-black">Un grand pouvoir implique...</h4>
        </section>

        <section data-transition="convex" data-background="images/exemple_autre_section.png">
          <h4 class="overlay-black">...de grandes responsabilités</h4>
        </section>


        <section data-transition="convex" data-markdown>
          ## Types de paragraphes possibles
        </section>

        <section data-transition="convex" data-markdown>
          ## Éléments de base
          - texte
          - titre
          - separateur
          - images
          - bouton / lien
          - chapeau, citation
        </section>

        <section data-transition="convex" data-markdown>
          ## Éléments plus avancés
          - container / grille
          - texte + image + styles
          - entity reference
          - accordéon / onglets
          - block reference, vers des blocs statiques
          - views reference, pour listing automatiques de certains contenus
          - fichiers attachés ou ressources
        </section>

        <section data-transition="convex" data-markdown>
          ## Éléments plus avancés
          - pictogrammes / images + texte
          - video (locale/embarquée)
          - diaporama /  gallerie d'image
          - chiffres défilants / barres de progression
          - constructeur de requête / rendu
          - iframe
          - etc.
        </section>


        <section data-transition="convex" data-markdown>
          ## Exemples réels
          *Attention, démo*
        </section>

        <!-- Demos -->
        <section data-transition="convex" data-background="images/titre.png">
          <h2 class="overlay-black">Titre</h2>
        </section>

        <section data-transition="convex" data-background="images/texte.png">
          <h2 class="overlay-black">Texte</h2>
        </section>

        <section data-transition="convex" data-background="images/media.png">
          <h2 class="overlay-black">Media</h2>
        </section>

        <section data-transition="convex" data-background="images/image.png">
          <h2 class="overlay-black">Image</h2>
        </section>

        <section data-transition="convex" data-background="images/liens_avances.png">
          <h2 class="overlay-black">Liens avancés</h2>
        </section>

        <section data-transition="convex" data-background="images/liens_avances_rendu.png">
          <h2 class="overlay-black">Liens avancés</h2>
        </section>

        <section data-transition="convex" data-background="images/image_texte.png">
          <h2 class="overlay-black">Section Image + Texte</h2>
        </section>

        <section data-transition="convex" data-background="images/image_texte_rendu.png">
          <h2 class="overlay-black">Texte + image en arrière-plan</h2>
        </section>

        <section data-transition="convex" data-background="images/image_texte_rendu2.png">
          <h2 class="overlay-black">Texte + image à droite</h2>
        </section>

        <section data-transition="convex" data-background="images/image_texte_rendu4.png">
          <h2 class="overlay-black">Texte + image droite / gauche</h2>
        </section>

        <section data-transition="convex" data-background="images/container.png">
          <h2 class="overlay-black">Conteneur</h2>
        </section>

        <section data-transition="convex" data-background="images/conteneur_image_texte.png">
          <h2 class="overlay-black">Conteneur <br />+ Texte / Image au-dessus</h2>
        </section>

        <section data-transition="convex" data-background="images/pictos.png">
          <h2 class="overlay-black">Liste à puces avec pictos</h2>
        </section>

        <section data-transition="convex" data-background="images/pictos_rendu.png">
          <h2 class="overlay-black">Liste à puces avec pictos</h2>
        </section>

        <section data-transition="convex" data-background="images/separator_bo.png">
          <h2 class="overlay-black">Séparateur</h2>
        </section>

        <section data-transition="convex" data-background="images/video.png">
          <h2 class="overlay-black">Vidéo</h2>
        </section>

        <section data-transition="convex" data-background="images/video_rendu.png">
          <h2 class="overlay-black">Vidéo (avec conteneur)</h2>
        </section>

        <section data-transition="convex" data-background="images/chiffres_barres.png">
          <h2 class="overlay-black">Chiffres défilants / barres de progression</h2>
        </section>

        <section data-transition="convex" data-background="images/chiffres_barres_rendu.png">
          <h2 class="overlay-black">Chiffres défilants / barres de progression</h2>
        </section>

        <section data-transition="convex" data-background="images/block_reference_bo.png">
          <h2 class="overlay-black">Block reference</h2>
        </section>

        <!-- Demos Fin -->

        <section data-transition="convex">
          <h2>Ecrire son propre paragraph</h2>
          <ul>
            <li>Beaucoup de clics</li>
            <li>Un zeste de code</li>
            <li class="fragment">Magic CSS : <img class="plain" src="images/magic_css.gif" alt="Magic" style="margin:0; vertical-align: middle;"></li>
          </ul>
        </section>

        <section data-transition="convex" data-background="images/image_text_form.png">
          <h2 class="overlay-black">Du site building</h2>
        </section>

        <section data-transition="convex">
          <h2>Un zeste de code (image arrière-plan)</h2>
          <pre><code class="hljs php">
function MON_MODULE_preprocess_paragraph(&$variables) {
  // Overlay / background.
  $variables['overlay_color'] = FALSE;
  if ($paragraph->hasField('field_paragraph_overlay')) {
    if ($overlay_color = $paragraph->field_paragraph_overlay->value) {
      $variables['overlay_color'] = ['#plain_text' => $overlay_color];
    }
  }
}
          </code></pre>

        </section>

        <section data-transition="convex">
          <pre><code class="hljs html">
{% block paragraph %}
  &lt;div{{ attributes.addClass(classes) }}>
    {% block content %}
     ...
        {% if overlay_color %}
          &lt;div class="paragraph-overlay"
            style="background-color: {{ overlay_color }};"&gt;&lt;/div&gt;
        {% endif %}
     ...
    {% endblock %}
  &lt;/div&gt;
{% endblock paragraph %}
          </code></pre>

        </section>

        <section data-transition="convex">
          <h2>Magic CSS</h2>
          <pre><code class="hljs css">
.paragraph-overlay {
  position: absolute;
  height: 100%; width: 100%;
  top: 0; z-index: 1;
}

.window-width .paragraph-overlay {
  width: 100vw;
  left: 50%; right: 50%;
  margin-left: -50vw; margin-right: -50vw;
}
          </code></pre>

        </section>

        <section data-transition="convex">
          <h2>ajout de classes</h2>
          <pre><code class="hljs php">
function MON_MODULE_preprocess_paragraph(&$variables) {
  // Image position.
  $variables['paragraph_attributes'] = new Attribute();
  if ($paragraph->hasField('field_image_position')) {
    if ($image_position = $paragraph->field_image_position->value) {
      $variables['paragraph_attributes']->addClass($image_position);
    }
  }
}
          </code></pre>

        </section>

        <section data-transition="convex">
          <pre><code class="hljs html">
{% block paragraph %}
  &lt;div{{ attributes.addClass(classes) }}>
    {% block paragraph_wrapper %}
      &lt;div{{ paragrah_attributes.addClass('paragraph-wrapper') }}>
         ...
      &lt;/div&gt;
    {% endblock %}
  &lt;/div&gt;
{% endblock paragraph %}
          </code></pre>

        </section>

        <section data-transition="convex" data-background="images/thatsall.jpg">
        </section>

        <section data-transition="convex" data-markdown>
          ## Modules contribués pour étendre paragraphs
          - [paragraphs_summary](https://www.drupal.org/project/paragraphs_summary) (D7) / [*sandbox*](https://www.drupal.org/sandbox/mtaltavull/2830717) (D8)
          - [paragraphs_collection](https://www.drupal.org/project/paragraphs_collection) (D8 experimental)
          - [classy_paragraphs](https://www.drupal.org/project/classy_paragraphs) (D7/D8)
          - [paragraphs_bootstrap](https://www.drupal.org/project/paragraphs_bootstrap) (D8)
          - [slick_paragraphs](https://www.drupal.org/project/slick_paragraphs) (D8)
          - Et beaucoup de modules proposant des bundles préconfigurés
        </section>

        <section data-transition="convex" data-markdown>
          ## Le futur de Paragraphs

          - Séparer le contenu de la configuration
          - Librairie réutilisable de paragraphes
          - UX améliorée
          - Suivez [Paragraphs Collection](https://www.drupal.org/project/paragraphs_collection)

          Source : https://www.md-systems.ch/en/blog/md-systems/2017/09/20/the-evolution-of-paragraphs
        </section>


		<section>
            # Merci
		</section>

			</div>
		</div>

		<script src="lib/js/head.min.js"></script>
		<script src="js/reveal.js"></script>

		<script>
			// More info about config & dependencies:
			// - https://github.com/hakimel/reveal.js#configuration
			// - https://github.com/hakimel/reveal.js#dependencies
			Reveal.initialize({
				dependencies: [
					{ src: 'plugin/markdown/marked.js' },
					{ src: 'plugin/markdown/markdown.js' },
					{ src: 'plugin/notes/notes.js', async: true },
					{ src: 'plugin/highlight/highlight.js', async: true, callback: function() { hljs.initHighlightingOnLoad(); } }
				]
			});
		</script>
	</body>
</html>
